.benefits {
padding-top: 84px;
  & > .container {
    display: grid;
    @include desktop {
      display: flex;
    }
  }
}
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  @include tablet {
    gap: 30px;
    justify-content: right;
  }
  @include desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.benefits-list-wrap {
  order: 2;

  @include tablet {
    width: 550px;
    margin: 0 auto;
  }

  @include desktop {
    width: calc(50% + 15px);
    display: flex;
    justify-content: center;
    order: 0;
  }
}
.benefits-wrap {
  margin-top: 9px;
}

.benefits-items {
  background-color: #f7f7f7;
  width: 170px;
  height: 133px;
  padding: 20px 24px;
  text-align: center;
  &:nth-child(2) {
    margin-top: 30px;
  }
  &:nth-child(4) {
    margin-top: 30px;
  }

  @include desktop {
    &:not(:last-child) {
      margin-bottom: 30px;
      margin-right: 30px;
    }
    &:nth-child(2) {
      margin-top: 35px;
    }
  }
}

.benefits-pre-title {
  color: #303030;

  margin-bottom: var(--main-margin);
}

.benefits-title {
  color: #303030;

  margin-bottom: var(--main-margin);
}

.benefits-after-title {
  color: #555;
  margin-bottom: 30px;
}
.benefits-content {
  color: #303030;
  text-align: center;
  font-family: Open Sans;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.benefits-items > span {
  color: #303030;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.1px;
  font-family: Open Sans;
  display: flex;
  justify-content: center;
  display: inline-block;
  &:after {
    content: "+";
    color: #ff6c00;

    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.38;
  }
}
