.contact-wrap {
  display: flex;
  background-color: #191c26;
  background-image: url(../img/background/bg_footer_tel.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: auto 100%;

  @include tablet {
    background-image: url(../img/background/bg_footer_tablet.png);
    background-position: center right calc(88% - 15px - 392px);
  }
  @include desktop {
    background-position: center right calc(600px);
    background-image: url(../img/background/bg_footer_tablet.png);
  }
  & .container {
    display: block;
    @include desktop {
      display: flex;
    }
  }
}
.contact-footer-form {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
/* section  form */
.form {
  text-align: center;
  padding-top: 84px;
  @include tablet {
    text-align: start;
  }
  @include desktop {
    width: calc(50% + 15px);
    padding-top: 130px;
    padding-bottom: 150px;
  }
}
.form-title {
  color: #fff;
  margin-bottom: 40px;
}
.send-contact-btn {
  display: block;
  margin: 0 auto;
  color: #ffff;
  background-color: inherit;
  padding: 12px 38px;
}
.footter-item-input {
  background-color: inherit;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  color: #ffffff;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 1.1px;
  margin-bottom: 44px;
  cursor: pointer;
  transition: border-botton-color 500ms linear;
  &::placeholder {
    color: rgba(157, 164, 189, 0.4);
    text-transform: uppercase;
    transition: color 500ms linear;
  }
  &:focus,
  &:hover {
    outline: transparent;
    border-bottom-color: #ffffff;
  }
}

.contact-footer-input {
  width: 350px;
  height: 24px;
  @include tablet {
    width: 330px;
  }

  @include desktop {
    width: 270px;
  }
}

.footter-item-input:hover::placeholder,
.footter-item-input:focus::placeholder {
  color: #fff;
}
.contact-message-area {
  width: 350px;
  height: 76px;
  resize: none;
  @include tablet {
    width: 690px;
  }
  @include desktop {
    width: 570px;
  }
}
/* section contacts */
.contacts {
  padding-bottom: 84px;
  margin-left: 31px;
  @include tablet {
    text-align: start;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    margin-left: 0;
    justify-content: center;
  }
  @include desktop {
    width: calc(50% - 15px);
    padding-top: 130px;
    padding-bottom: 120px;
    margin-left: 100px;
  }
}
.contacts-list {
  padding-left: 0;
  margin-bottom: 72px;
  @include tablet {
    margin-bottom: 0;
  }
  @include desktop {
    padding-left: 0;
    margin-bottom: 72px;
  }
}
.contacts-title {
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
  @include tablet {
    margin-bottom: 0;
  }
}
.contacts-items:not(:last-child) {
  margin-bottom: var(--main-margin);
}
.contact-links {
  color: #9da4bd;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
  letter-spacing: 0.36px;
}

.contact-address {
  font-weight: 700;
}
.contacts-pre-title {
  color: #fff;
  margin-bottom: var(--main-margin);
  @include tablet {
    margin-bottom: 0;
  }
  @include desktop {
    margin-bottom: var(--main-margin);
  }
}

.contacts-text {
  color: #9da4bd;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
  letter-spacing: 0.36px;
}
